
body{
  background-color: aliceblue;
}


.unorderedlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(108, 102, 102);
  }
  
li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  .mainbody {
      width: 50%;
      padding-top: 50px;
      padding-right: 30px;
      padding-bottom: 50px;
      padding-left: 80px;
  }

  .center {
    text-align: center;
  }

  .footer {
    bottom: 10px;
    height: 30px;
    right: 5px;
    left: 5px;
    color: lightblue;
    background-color: gray;
    text-align: center;
  }

  .caption {
    font-weight: bold;
    color: black;
    font-size: medium;
  }